*{
  margin:0;
}
body {
  background-color: white;
  
}
main {
  display: grid;
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c"
    "c d d c";
  gap: 20px;
  margin: auto;
}
.top {
  background-color: hsl(193, 100%, 96%);
  font-size:15px ;
  font-weight: bold;
  height:250px;
  color:black ;

}
.logo-img{
  height:1.2em;
  float:left;
}
body h3 {
  font-size: 20px;
  margin-left: 1em;
  Font-weight:700;
  margin-top: 20px;
}
p{
  font-size:15px;
  margin-left:1em;
  font-weight: 400;
  margin-top: 50px;
}

.button1 {
  font-size: 12px;
  margin-right: 100px;
  color: black;
  padding: 10px 10px;
  border: 5px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: white;
  float: right;
}
.button2 {
  font-size: 15px;
  margin-left: 2em;
  color: whitesmoke;
  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 50px;
  background-color: hsl(322, 100%, 66%);
}
.second {
  background-color: white;
  justify-content:center;
}
.illustration{
  width:20%;
  float:right;}

.illustration1{
    width:20%;
    float:right;}


.illustration2{
      width:20%;
      float:left;}


.illustration3{
        width:20%;
        float:right;}

.p-second{display:flex}

.item-a {
  background-color: whitesmoke;
  grid-area: a;
  color: black;
  height:120px;
  padding:50px;
  border-radius:15px;
  font-size:15px;
  font-weight: 400;
  color: rgb(22, 21, 21);
  
}
.item-b {
  background-color: whitesmoke;
  grid-area: b;
  color: black;
  height:120px;
  padding:50px;
  border-radius:15px; 
  font-size:15px;
  font-weight: 400;
  color: rgb(22, 21, 21);
}
.item-c {
  background-color: whitesmoke;
  grid-area: c;
  color: black;
  height:120px;
  padding:50px;
  text-align:left;
  border-radius:15px; 
  font-size:15px;
  font-weight: 400;
  color: rgb(22, 21, 21);
  
}
.item-d {
  background-color: whitesmoke;
  padding: 1em;
  color: black;
  border-color: whitesmoke;
  border-style: solid;
  border-width:thin;
  height:100px;
  width:25em;
  text-align: center;
  margin:auto ;
}
.button3 {
  font-size: 15px;
  color: whitesmoke;
  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: hsl(322, 100%, 66%);
}
.bottom{
  background-color: hsl(192, 100%, 9%);
  font-size: 15px;
  color: whitesmoke;
}
.c{
  float:right;
  Margin-right:50px;
  margin-top:0;
}
.d {float:right;
    margin-right:200px;
 }

 .illustration4{
  width:10px;
  height:10px;
  float:left;}


footer{
  margin-bottom:10px;

}
